国立,旭川医科大学,北海道,https://www.asahikawa-med.ac.jp/
国立,小樽商科大学,北海道,https://www.otaru-uc.ac.jp/
国立,帯広畜産大学,北海道,https://www.obihiro.ac.jp/
国立,北見工業大学,北海道,https://www.kitami-it.ac.jp/
国立,北海道大学,北海道,https://www.hokudai.ac.jp/
国立,北海道教育大学,北海道,https://www.hokkyodai.ac.jp/
